*.wad
*.WAD
classes
events
csprogsvers
dlls
gfx
maps
media
models
overviews
sound
sprites
*.dat
*.lno
config.cfg
mapcycle.txt
motd.txt
*.rad
*.cfg
commandmenu.txt
cstrike.ico
delta.lst
entities.def
halflife-cs.fgd
liblist.gam
readme.txt
settings.scr
spectatormenu.txt
titles.txt
user.scr
client.dll
manual.htm
fteextensions.qc

